@use "../base/variables" as *;

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin alert {
  display: none;
  color: $lightRed;
  margin-top: 8px;
  font-size: 1.1rem;
}
