//FONT
$fontPrincipal: "Poppins", sans-serif;

//RESPONSIVE DESIGN
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//COLORS
$background: hsl(0, 0%, 94%);
$white: hsl(0, 0%, 100%);
$blackText: hsl(0, 0%, 8%);
$grayText: hsl(0, 1%, 44%);
$grayPlaceholder: hsl(0, 0%, 54%);
$border: hsl(0, 0%, 86%);
$line: hsl(0, 0%, 94%);
$purple: hsl(259, 100%, 65%);
$purpleBorder: hsl(255, 26%, 52%);
$lightRed: hsl(0, 100%, 67%);
