//FONT
$fontPrincipal: "Space Mono", monospace;

//RESPONSIVE DESIGN
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//COLORS
$background: hsl(185, 41%, 84%);
$darkGrayText: hsl(186, 14%, 43%);
$grayPerson: hsl(184, 14%, 56%);
$grayPlaceholder: hsl(180, 11%, 69%);
$cyanLightTextResult: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$inputBackground: hsl(202, 50%, 97%);
$cyanPrimary: hsl(172, 67%, 45%);
$cyanSecundary: #00494d;
$bottonInactive: hsl(183, 79%, 24%);
$bottonHover: hsl(173, 61%, 77%);
